<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name=”keywords” content="consulting, information technology, ios, android, oracle, qa, testing, sap, sas, jobs " />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Page-Enter" content="progid:DXImageTransform.Microsoft.Fade(duration=.5)" >
    <meta http-equiv="Page-Exit" content="progid:DXImageTransform.Microsoft.Fade(duration=.5)" >
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic" rel="stylesheet" type="text/css">
    <title>proximosoft | next generation software & consulting services</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    
    <link href="/less/animate.less-master/animate.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/js/woothemes-FlexSlider-06b12f8/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/js/prettyPhoto_3.1.5/prettyPhoto.css" type="text/css" media="screen" />

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="/Content/style.css" rel="stylesheet" type="text/css">
    <!--[if IE 7]>
        <link rel="stylesheet" href="fonts/font-awsome/css/font-awesome-ie7.min.css">
        <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="/favicon.png">
           <script src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body>
    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M495MW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M495MW');</script>
<!-- End Google Tag Manager -->
       	<header>

            <div class="container">
                <div class="navbar">
                    <div class="navbar-inner">
                        <a class="brand" href="/Home"> <img src="/images/proximo.png" alt="proximosoft"> 
                            <span class="logo_title"><strong>Proximo</strong>Soft</span> <span class="logo_subtitle">NEXT gen software & consulting services</span> </a>
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="nb_left pull-left"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></span> <span class="nb_right pull-right">menu</span> </a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    
                                        <li>@Html.ActionLink("Services", "", "Services")</li>
                                            
                                            <li>@Html.ActionLink("Clients", "Clients", "Home")</li>
                                                <li>@Html.ActionLink("Careers", "Careers", "Home")</li>
                                <li>@Html.ActionLink("Training", "Training", "Services")</li>
                                                    
                                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="social_media_wrapper"> <a href="https://www.facebook.com/pages/Proximosoft/644452695574461"><i class="icon icon-facebook"></i></a> 
                                            <a href="https://twitter.com/proximosoft"><i class="icon icon-twitter"></i></a> 
                                            <a href="https://plus.google.com/112667039008135237923" rel="publisher"><i class="icon icon-google-plus"></i></a>
                                            <a href="http://www.linkedin.com/in/proximosoft" rel="publisher"><i class="icon icon-linkedin"></i></a>    
                                        </div>
                                        <!--div id="sign"><a href="register.html"><i class="icon icon-user"></i>Register/Sign in</a></div-->
                                    </div>
                                </header>
    <div id="main">
        @RenderBody()
        
        
        <footer>
        <section id="footer_teasers_wrapper">
            <div class="container">
                <div class="row">
                    <div class="span6 footer_teaser">
                        <h3>We are ProximoSoft &#0174; </h3>
                        <p>As a nimble and aggressive business consulting firm, we combine technology expertise with business acumen to develop partnership focused on improving processes and overall performance.</p>
                        <p>ProximoSoft is one of the fastest growing IT solutions and services provider delivering best in class services to help clients reduce costs, enhnace organizational flexibility, and improve buisiness and IT performance..</p>
                        
                    </div>

                    
                    <div class="span4 footer_address">
		                
		                <address>
			                <strong>5 Independence way</strong><br/>
			                Princeton<br/>
			                NJ 08540<br/>
			                <abbr title="Phone"><i class="icon-phone"></i></abbr>&nbsp;732-903-4333<br/>
                            <abbr title="Email"><i class="icon-envelope"></i></abbr>&nbsp;info@proximosoft.com<br/>
                            <br/>
                            <a class="btn btn-primary btn-large" href="/home/contact">Contact Us</a>
		                </address>
                        
	                </div>
                    
                    
                    <div class="span4 footer_nav">
                         </div>
                </div>
            </div>
        </section>

            <section id="copyright">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                        <ul class="footer_nav">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    
                                        <li>@Html.ActionLink("Services", "", "Services")</li>
                                            
                                            <li>@Html.ActionLink("Clients", "Clients", "Home")</li>
                                                <li>@Html.ActionLink("Careers", "Careers", "Home")</li>
                                <li>@Html.ActionLink("Training", "Training", "Services")</li>
                                                    
                                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                                                    </ul>
                        </div>
                        <div class="span6"><div class="footer_copyright"> &copy;2012 - 2013 all rights reserved | <a href="http://www.proximosoft.com">ProximoSoft</a></div></div>

                    </div>
                </div>
            </section>
        </footer>
</div>


        <script>window.jQuery || document.write('<script src="/js/jquery-1.9.0.min.js"><\/script>')</script>
        <script src="/twitter-bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/js/modernizr.custom.48287.js"></script>
        <script src="/js/woothemes-FlexSlider-06b12f8/jquery.flexslider-min.js"></script>
        <script src="/js/prettyPhoto_3.1.5/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/js/jquery.ui.totop.js"></script>
        <script type="text/javascript" src="/js/easing.js"></script>
        <script type="text/javascript" src="/js/restart_theme.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-42456836-1', 'proximosoft.com');
          ga('send', 'pageview');

        </script>
     <script type="text/javascript">
         $(document).ready(function () {
             var url = window.location.pathname;
             var substr = url.split('/');
             var urlaspx = substr[substr.length - 1].toLowerCase();
             if (urlaspx == "" || urlaspx == "home") {
                 urlaspx = "/"
             }
             r = new RegExp(urlaspx + '$','gi');
             $('.nav').find('.active').removeClass('active');
             $('.nav li a').each(function () {

                 if (r.test(this.href)) {
                     $(this).parent().addClass('active');
                     return false;
                 }
             });

             // $("header").sticky({ topSpacing: 0 });
             /*var nav = $('header');
             $(window).scroll(function () {
                 if ($(this).scrollTop() > 136) {
                     nav.addClass("f-nav");
                 } else {
                     nav.removeClass("f-nav");
                 }
             });*/
         });
    </script>
    @RenderSection("scripts", false)
</body>
</html>
